/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
form {
    display: block;
    background: #F0F3F3;
    border: 1px solid;
    border-radius: 2px;
    padding: 3rem;
    text-align: left;
    width: 500px;
    margin: 0 auto;
}

    form label {
        float: left;
        font-size: .9rem;
        margin: 0;
        padding: 0
    }

.right-label {
    float: right;
    cursor: pointer;
}

input {
    width: 15rem;
    padding: .3rem;
    border-radius: 5px;
    outline: none;
    border: none
}

#sub_btn {
    display: block;
    width: 100%;
    border: none;
    padding: .4rem;
    background: #365353;
    color: #F0F3F3;
    border-radius: 3px;
}


#sub_btn:hover {
    background: #426767;
    transition: all .4s
}*/

body, html {
    height:100%;
    margin: 0;
}